{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the dream TFT team together!</h2>
            <h5>Create an unbeatable team that will lead you to top 1 or even Challenger Rank in TFT</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../static/images/TFT_cheatsheet.jpg" alt="TFT Cheatsheet Image" class="header-image">
        </div>
    </header>
    <!-- End of Header Section -->

    <!-- Start Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/TFT_recruit.png" alt="TFT Recruite Image" id="recruit-image">
            <h4>Recruit Champions!</h4>
            <p>
                Get use to Champions, learn about their stats and abilities!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/TFT_preset.png" alt="TFT Preset Image" id="preset-image">
            <h4>Set up your Team's Formation!</h4>
            <p>
                Get ahead of enemies by setting up your Team's formation. Know your enemies, know yourself! - Sun Tzu
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/TFT_rank.png" alt="TFT Rank Image" id="rank-image">
            <h4>Rank UP!</h4>
            <p>
                Climb to Challenger! Ranking Up never be that EZzzzzz!
            </p>
        </div>
    </section>
    <!-- End of Collection Feateures -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/TFT_background.jpg" alt="Background Image" id="background-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Communicate with High-Rank Players</h4>
            <p>
                Learn, discuss and communicate with other players. Join our Discord channel and give a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Discord Channel</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/TFT_logo.png" alt="TFT Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why TFT preset project?</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Contact</h4>
                <p>Email: nhientattran@gmail.com</p>
                <p>Website: https://www.codingtemple.com</p>
            </div>
        </div>
    </footer>
</div>

{% endblock content %}